{
  "openapi": "3.1.0",
  "info": {
    "title": "Zodiacs.org API",
    "version": "v1.2026-09-30",
    "summary": "Free sky data as static files: today's sky, upcoming events, planets, signs, and per-year retrogrades, stations, ingresses, moon phases, eclipses, and aspects. And six calculation endpoints that take a POST body.",
    "description": "The sky data (tags daily and yearly) is static JSON files served from the CDN with open CORS and no authentication. Positions are apparent geocentric tropical ecliptic longitudes computed at 12:00 UTC daily. Data as of 2026-10-06. Guide for AI agents: https://zodiacs.org/api/v1/llms.txt. Documentation: https://zodiacs.org/developers/. The compute endpoints (tag compute) calculate from the body of a POST request, with open CORS and no authentication; their documentation is https://zodiacs.org/developers/compute/.",
    "license": {
      "name": "CC BY 4.0",
      "identifier": "CC-BY-4.0"
    },
    "contact": {
      "url": "https://zodiacs.org/developers/"
    }
  },
  "servers": [
    {
      "url": "https://zodiacs.org"
    }
  ],
  "tags": [
    {
      "name": "daily",
      "description": "Daily publication is scheduled from 00:00 UTC using positions computed for noon UTC. Delivery can be delayed; check each payload edition date."
    },
    {
      "name": "yearly",
      "description": "Regenerated when the underlying yearly data is refreshed."
    },
    {
      "name": "compute",
      "description": "Calculations from a POST body, on the vendored @zodiacs/engine. Birth data goes only in the body; any query string is ignored. The function writes nothing from a request or its result to a log, a file or a database, and responses are not cached; the host's request logs keep each request's web address and IP address. The endpoints answer only while their per-address rate limit is in place, and 503 otherwise. A body with a repeated key is read as JSON.parse reads it: the last value wins. Documentation: https://zodiacs.org/developers/compute/"
    }
  ],
  "paths": {
    "/api/v1/index.json": {
      "get": {
        "operationId": "getIndex",
        "summary": "Every endpoint and document",
        "tags": [
          "daily"
        ],
        "responses": {
          "200": {
            "description": "The endpoint manifest.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/index"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/sky/today.json": {
      "get": {
        "operationId": "getToday",
        "summary": "Today's sky",
        "tags": [
          "daily"
        ],
        "responses": {
          "200": {
            "description": "Today's positions, moon, retrogrades, and events.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/today"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/sky/upcoming.json": {
      "get": {
        "operationId": "getUpcoming",
        "summary": "Upcoming events",
        "tags": [
          "daily"
        ],
        "responses": {
          "200": {
            "description": "The next weeks of sky events.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/upcoming"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/signs.json": {
      "get": {
        "operationId": "getSigns",
        "summary": "The twelve signs",
        "tags": [
          "daily"
        ],
        "responses": {
          "200": {
            "description": "Sign metadata, Sun seasons, and occupants.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/signs"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/planets/{planet}.json": {
      "get": {
        "operationId": "getPlanet",
        "summary": "One body",
        "tags": [
          "daily"
        ],
        "parameters": [
          {
            "name": "planet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sun",
                "moon",
                "mercury",
                "venus",
                "mars",
                "jupiter",
                "saturn",
                "uranus",
                "neptune",
                "pluto"
              ]
            },
            "description": "Lowercase body name."
          }
        ],
        "responses": {
          "200": {
            "description": "Current position, retrograde status, next ingress and station.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/planet"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/retrogrades/{year}.json": {
      "get": {
        "operationId": "getRetrogradesYear",
        "summary": "Retrograde windows for a year",
        "tags": [
          "yearly"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                2026,
                2027,
                2028,
                2029,
                2030
              ]
            },
            "description": "A covered calendar year (2026–2030)."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrograde windows for a year.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrogrades"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/stations/{year}.json": {
      "get": {
        "operationId": "getStationsYear",
        "summary": "Stations for a year",
        "tags": [
          "yearly"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                2026,
                2027,
                2028,
                2029,
                2030
              ]
            },
            "description": "A covered calendar year (2026–2030)."
          }
        ],
        "responses": {
          "200": {
            "description": "Stations for a year.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stations"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/ingresses/{year}.json": {
      "get": {
        "operationId": "getIngressesYear",
        "summary": "Sign ingresses for a year",
        "tags": [
          "yearly"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                2026,
                2027,
                2028,
                2029,
                2030
              ]
            },
            "description": "A covered calendar year (2026–2030)."
          }
        ],
        "responses": {
          "200": {
            "description": "Sign ingresses for a year.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ingresses"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/moon-phases/{year}.json": {
      "get": {
        "operationId": "getMoonPhasesYear",
        "summary": "Moon phases for a year",
        "tags": [
          "yearly"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                2026,
                2027,
                2028,
                2029,
                2030
              ]
            },
            "description": "A covered calendar year (2026–2030)."
          }
        ],
        "responses": {
          "200": {
            "description": "Moon phases for a year.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/moon-phases"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/eclipses/{year}.json": {
      "get": {
        "operationId": "getEclipsesYear",
        "summary": "Eclipses for a year",
        "tags": [
          "yearly"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                2026,
                2027,
                2028,
                2029,
                2030
              ]
            },
            "description": "A covered calendar year (2026–2030)."
          }
        ],
        "responses": {
          "200": {
            "description": "Eclipses for a year.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eclipses"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/aspects/{year}.json": {
      "get": {
        "operationId": "getAspectsYear",
        "summary": "Exact aspects for a year",
        "tags": [
          "yearly"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                2026,
                2027,
                2028,
                2029,
                2030
              ]
            },
            "description": "A covered calendar year (2026–2030)."
          }
        ],
        "responses": {
          "200": {
            "description": "Exact aspects for a year.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                },
                "description": "Every endpoint is open to any origin."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Short on daily files, a day on yearly files."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aspects"
                }
              }
            }
          },
          "404": {
            "description": "No such file: a year or body outside coverage."
          }
        }
      }
    },
    "/api/v1/chart": {
      "options": {
        "operationId": "preflightChart",
        "summary": "CORS preflight",
        "description": "Answered before anything else is checked, with no body, so that a page on another site can POST to the endpoint.",
        "tags": [
          "compute"
        ],
        "responses": {
          "204": {
            "description": "The methods and headers a cross-origin POST may use.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "const": "POST, OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "const": "Content-Type"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "const": "86400"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "computeChart",
        "summary": "A natal chart for an instant and a place",
        "description": "Bodies, angles, house cusps and aspects as the engine's natalChart returns them, for an instant given in UTC or as local civil time in an IANA zone. The receipt is the engine's own. Documentation: https://zodiacs.org/developers/compute/#chart",
        "tags": [
          "compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceInstantRequest"
              },
              "examples": {
                "utc": {
                  "summary": "A UTC instant at Greenwich, Placidus houses",
                  "value": {
                    "utc": "2000-01-01T12:00:00Z",
                    "latitude": 51.4779,
                    "longitude": -0.0015,
                    "houseSystem": "placidus"
                  }
                },
                "local": {
                  "summary": "Local civil time in an IANA zone, whole-sign houses",
                  "value": {
                    "local": {
                      "date": "1990-06-15",
                      "time": "14:30",
                      "zone": "Europe/Paris"
                    },
                    "latitude": 48.8566,
                    "longitude": 2.3522,
                    "houseSystem": "whole"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result, the receipt, the backend and what to cite.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                },
                "description": "No response is stored by a cache."
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                },
                "examples": {
                  "utc": {
                    "summary": "A UTC instant at Greenwich, Placidus houses",
                    "value": {
                      "schema": "zodiacs.compute-api.chart.v1",
                      "result": {
                        "instant": "2000-01-01T12:00:00.000Z",
                        "local": null,
                        "bodies": [
                          {
                            "body": "Sun",
                            "lon": 280.3687723811323,
                            "lat": 0.0000011205048760998976,
                            "speed": 1.0194308605093738,
                            "retrograde": false,
                            "sign": "capricorn",
                            "degree": 10.368772381132317
                          },
                          {
                            "body": "Moon",
                            "lon": 223.32396777014543,
                            "lat": 5.170788636029834,
                            "speed": 12.021413077249576,
                            "retrograde": false,
                            "sign": "scorpio",
                            "degree": 13.323967770145373
                          },
                          {
                            "body": "Mercury",
                            "lon": 271.8889479012799,
                            "lat": -0.9950670065449166,
                            "speed": 1.5562863864317933,
                            "retrograde": false,
                            "sign": "capricorn",
                            "degree": 1.8889479012798347
                          },
                          {
                            "body": "Venus",
                            "lon": 241.5652674210742,
                            "lat": 2.0659964948803324,
                            "speed": 1.2090421389530093,
                            "retrograde": false,
                            "sign": "sagittarius",
                            "degree": 1.565267421074168
                          },
                          {
                            "body": "Mars",
                            "lon": 327.96393186874616,
                            "lat": -1.0680819810158533,
                            "speed": 0.7756777245333524,
                            "retrograde": false,
                            "sign": "aquarius",
                            "degree": 27.963931868746158
                          },
                          {
                            "body": "Jupiter",
                            "lon": 25.254229769859705,
                            "lat": -1.2604529877805284,
                            "speed": 0.040754132243137065,
                            "retrograde": false,
                            "sign": "aries",
                            "degree": 25.254229769859705
                          },
                          {
                            "body": "Saturn",
                            "lon": 40.39615382546799,
                            "lat": -2.44480970483609,
                            "speed": -0.019940313450206304,
                            "retrograde": true,
                            "sign": "taurus",
                            "degree": 10.39615382546799
                          },
                          {
                            "body": "Uranus",
                            "lon": 314.8061345895963,
                            "lat": -0.6596606626376934,
                            "speed": 0.05034454358110452,
                            "retrograde": false,
                            "sign": "aquarius",
                            "degree": 14.80613458959624
                          },
                          {
                            "body": "Neptune",
                            "lon": 303.1954719643007,
                            "lat": 0.23714822339759897,
                            "speed": 0.03557004143317499,
                            "retrograde": false,
                            "sign": "aquarius",
                            "degree": 3.195471964300623
                          },
                          {
                            "body": "Pluto",
                            "lon": 251.4547650631123,
                            "lat": 10.855210710590136,
                            "speed": 0.03515256619834872,
                            "retrograde": false,
                            "sign": "sagittarius",
                            "degree": 11.45476506311229
                          },
                          {
                            "body": "North Node",
                            "lon": 123.95213652346729,
                            "lat": 0,
                            "speed": -0.0550864209772044,
                            "retrograde": true,
                            "sign": "leo",
                            "degree": 3.9521365234672885
                          },
                          {
                            "body": "South Node",
                            "lon": 303.9521365234673,
                            "lat": 0,
                            "speed": -0.0550864209772044,
                            "retrograde": true,
                            "sign": "aquarius",
                            "degree": 3.9521365234672885
                          }
                        ],
                        "angles": {
                          "asc": 24.26615726733877,
                          "mc": 279.6110742467766,
                          "dsc": 204.2661572673387,
                          "ic": 99.61107424677658
                        },
                        "houses": {
                          "system": "placidus",
                          "cusps": [
                            24.26615726733877,
                            61.14238363670046,
                            82.02080045942967,
                            99.61107424677658,
                            119.06189357712822,
                            147.70063403413616,
                            204.2661572673387,
                            241.14238363670052,
                            262.02080045942967,
                            279.6110742467766,
                            299.0618935771282,
                            327.70063403413616
                          ]
                        },
                        "aspects": [
                          {
                            "a": "Sun",
                            "b": "Saturn",
                            "type": "trine",
                            "orb": 0.027381444335674132,
                            "applying": true
                          },
                          {
                            "a": "Moon",
                            "b": "Uranus",
                            "type": "square",
                            "orb": 1.4821668194508675,
                            "applying": true
                          },
                          {
                            "a": "Venus",
                            "b": "Neptune",
                            "type": "sextile",
                            "orb": 1.630204543226455,
                            "applying": true
                          },
                          {
                            "a": "Mars",
                            "b": "Jupiter",
                            "type": "sextile",
                            "orb": 2.7097020988865097,
                            "applying": false
                          },
                          {
                            "a": "Moon",
                            "b": "Saturn",
                            "type": "opposition",
                            "orb": 2.927813944677382,
                            "applying": false
                          },
                          {
                            "a": "Sun",
                            "b": "Moon",
                            "type": "sextile",
                            "orb": 2.955195389013113,
                            "applying": false
                          },
                          {
                            "a": "Uranus",
                            "b": "Pluto",
                            "type": "sextile",
                            "orb": 3.3513695264840067,
                            "applying": false
                          },
                          {
                            "a": "Venus",
                            "b": "Mars",
                            "type": "square",
                            "orb": 3.6013355523280097,
                            "applying": false
                          },
                          {
                            "a": "Mercury",
                            "b": "Mars",
                            "type": "sextile",
                            "orb": 3.9250160325337333,
                            "applying": false
                          },
                          {
                            "a": "Saturn",
                            "b": "Uranus",
                            "type": "square",
                            "orb": 4.409980764128306,
                            "applying": false
                          },
                          {
                            "a": "Mercury",
                            "b": "Jupiter",
                            "type": "trine",
                            "orb": 6.634718131420186,
                            "applying": false
                          },
                          {
                            "a": "Sun",
                            "b": "Mercury",
                            "type": "conjunction",
                            "orb": 8.479824479852425,
                            "applying": true
                          }
                        ],
                        "flags": [],
                        "deltaT": {
                          "seconds": 63.8285,
                          "sigma": 0.000827,
                          "model": "iers-utc/1",
                          "table": "2026-09-24",
                          "tableDigest": "064d98b4a531053a",
                          "segment": "observed"
                        },
                        "timeScale": {
                          "input": "utc",
                          "basis": "iers",
                          "ut1MinusUtc": {
                            "seconds": 0.35549999999999926,
                            "sigma": 0.000827,
                            "source": "observed"
                          },
                          "leapSeconds": {
                            "taiMinusUtc": 32,
                            "listed": true
                          }
                        }
                      },
                      "receipt": {
                        "conventions": {
                          "angles": "gast-and-true-obliquity",
                          "aspects": "major-aspects;sun-moon-eight-planets;no-nodes;applying-instantaneous-orb-rate",
                          "calendar": "proleptic-gregorian",
                          "deltaT": "tt-minus-ut1;value-in-result",
                          "localTime": "tzdb-shards-before-1970;host-intl-from-1970;flags-from-transition-record",
                          "longitudeUnit": "degrees-[0,360)",
                          "moonNodes": "instantaneous-geocentric-moon-orbit-plane",
                          "moonPosition": "astronomy-engine-geo-moon;no-light-time;no-aberration",
                          "nutation": "iau2000b;equation-of-equinoxes-with-two-complementary-terms",
                          "planetPositions": "aberrated-geocentric-ecliptic-of-date;no-deflection",
                          "speed": "degrees-per-day;central-difference-plus-minus-0.001-day;nodes-plus-minus-0.25-day",
                          "timeScale": "tt-from-leap-seconds-and-ut1-from-iers-1972-to-table-end;delta-t-model-otherwise;in-result",
                          "zodiac": "tropical"
                        },
                        "coordinates": {
                          "latitude": 51.4779,
                          "longitude": -0.0015
                        },
                        "coverage": {
                          "angleExclusions": "exact-geographic-poles-and-ecliptic-horizon-coincidence",
                          "assessment": "finite-reference-cases-only",
                          "broadDateRange": "not-certified",
                          "inputSyntax": "not-an-astronomical-accuracy-guarantee"
                        },
                        "engine": {
                          "ephemeris": {
                            "name": "astronomy-engine",
                            "version": "2.1.19"
                          },
                          "name": "@zodiacs/engine",
                          "version": "0.1.1-rc.17"
                        },
                        "houses": {
                          "absenceReason": null,
                          "actual": "placidus",
                          "requested": "placidus"
                        },
                        "inputFlags": [],
                        "instant": "2000-01-01T12:00:00.000Z",
                        "localResolution": null,
                        "provenance": null,
                        "reference": "supplied-instant",
                        "resultFlags": [],
                        "schema": "zodiacs.calculation-receipt.draft-v1",
                        "sourceInstant": "2000-01-01T12:00:00Z",
                        "timeKnown": true,
                        "timeScale": "utc"
                      },
                      "backend": {
                        "name": "@zodiacs/engine",
                        "version": "0.1.1-rc.17",
                        "ephemeris": {
                          "name": "astronomy-engine",
                          "version": "2.1.19"
                        }
                      },
                      "cite": {
                        "url": "https://zodiacs.org/developers/compute/#chart",
                        "receipt": "sha256:50ddf47824a494499851f9993b4084558536aa61936f9ba41c87c9124592a320",
                        "engine": "@zodiacs/engine",
                        "version": "0.1.1-rc.17"
                      }
                    }
                  },
                  "local": {
                    "summary": "Local civil time in an IANA zone, whole-sign houses",
                    "value": {
                      "schema": "zodiacs.compute-api.chart.v1",
                      "result": {
                        "instant": "1990-06-15T12:30:00.000Z",
                        "local": {
                          "offsetMinutes": 120,
                          "flags": [],
                          "localMeanTime": null,
                          "zoneHistory": "runtime",
                          "zoneUncertain": false
                        },
                        "bodies": [
                          {
                            "body": "Sun",
                            "lon": 84.14928002220142,
                            "lat": -0.00001827703878788282,
                            "speed": 0.9551305973047874,
                            "retrograde": false,
                            "sign": "gemini",
                            "degree": 24.149280022201424
                          },
                          {
                            "body": "Moon",
                            "lon": 345.6367188970119,
                            "lat": 3.1501089515977787,
                            "speed": 13.369240872094679,
                            "retrograde": false,
                            "sign": "pisces",
                            "degree": 15.63671889701186
                          },
                          {
                            "body": "Mercury",
                            "lon": 65.7265334199264,
                            "lat": -1.659130144145581,
                            "speed": 1.7170306078924114,
                            "retrograde": false,
                            "sign": "gemini",
                            "degree": 5.7265334199263975
                          },
                          {
                            "body": "Venus",
                            "lon": 48.80186545784608,
                            "lat": -1.9454777463945472,
                            "speed": 1.1760216097229659,
                            "retrograde": false,
                            "sign": "taurus",
                            "degree": 18.801865457846077
                          },
                          {
                            "body": "Mars",
                            "lon": 11.0560354451639,
                            "lat": -1.985442010929648,
                            "speed": 0.7189171010963946,
                            "retrograde": false,
                            "sign": "aries",
                            "degree": 11.0560354451639
                          },
                          {
                            "body": "Jupiter",
                            "lon": 105.89399333781893,
                            "lat": 0.1868222095489725,
                            "speed": 0.2166527083602432,
                            "retrograde": false,
                            "sign": "cancer",
                            "degree": 15.893993337818927
                          },
                          {
                            "body": "Saturn",
                            "lon": 294.0306398433936,
                            "lat": 0.11719975460325133,
                            "speed": -0.0586625626510795,
                            "retrograde": true,
                            "sign": "capricorn",
                            "degree": 24.0306398433936
                          },
                          {
                            "body": "Uranus",
                            "lon": 278.16312067145714,
                            "lat": -0.3255654628085348,
                            "speed": -0.038934664019052434,
                            "retrograde": true,
                            "sign": "capricorn",
                            "degree": 8.163120671457136
                          },
                          {
                            "body": "Neptune",
                            "lon": 283.7163219439272,
                            "lat": 0.8770484012609031,
                            "speed": -0.025031484796045333,
                            "retrograde": true,
                            "sign": "capricorn",
                            "degree": 13.716321943927142
                          },
                          {
                            "body": "Pluto",
                            "lon": 225.40175398202936,
                            "lat": 15.85358596624236,
                            "speed": -0.02017257970976516,
                            "retrograde": true,
                            "sign": "scorpio",
                            "degree": 15.40175398202939
                          },
                          {
                            "body": "North Node",
                            "lon": 308.1217975926026,
                            "lat": 0,
                            "speed": 0.013238202005254607,
                            "retrograde": false,
                            "sign": "aquarius",
                            "degree": 8.121797592602661
                          },
                          {
                            "body": "South Node",
                            "lon": 128.1217975926026,
                            "lat": 0,
                            "speed": 0.013238202005254607,
                            "retrograde": false,
                            "sign": "leo",
                            "degree": 8.121797592602604
                          }
                        ],
                        "angles": {
                          "asc": 182.4651150595028,
                          "mc": 93.10546207243345,
                          "dsc": 2.465115059502807,
                          "ic": 273.1054620724335
                        },
                        "houses": {
                          "system": "whole",
                          "cusps": [
                            180,
                            210,
                            240,
                            270,
                            300,
                            330,
                            0,
                            30,
                            60,
                            90,
                            120,
                            150
                          ]
                        },
                        "aspects": [
                          {
                            "a": "Moon",
                            "b": "Pluto",
                            "type": "trine",
                            "orb": 0.23496491498258365,
                            "applying": false
                          },
                          {
                            "a": "Moon",
                            "b": "Jupiter",
                            "type": "trine",
                            "orb": 0.25727444080700934,
                            "applying": true
                          },
                          {
                            "a": "Jupiter",
                            "b": "Pluto",
                            "type": "trine",
                            "orb": 0.49223935578956457,
                            "applying": false
                          },
                          {
                            "a": "Neptune",
                            "b": "Pluto",
                            "type": "sextile",
                            "orb": 1.6854320381021353,
                            "applying": false
                          },
                          {
                            "a": "Moon",
                            "b": "Neptune",
                            "type": "sextile",
                            "orb": 1.920396953084719,
                            "applying": false
                          },
                          {
                            "a": "Jupiter",
                            "b": "Neptune",
                            "type": "opposition",
                            "orb": 2.1776713938917283,
                            "applying": false
                          },
                          {
                            "a": "Mars",
                            "b": "Neptune",
                            "type": "square",
                            "orb": 2.6602864987632984,
                            "applying": true
                          },
                          {
                            "a": "Mars",
                            "b": "Uranus",
                            "type": "square",
                            "orb": 2.8929147737067638,
                            "applying": false
                          },
                          {
                            "a": "Venus",
                            "b": "Jupiter",
                            "type": "sextile",
                            "orb": 2.9078721200271502,
                            "applying": false
                          },
                          {
                            "a": "Moon",
                            "b": "Venus",
                            "type": "sextile",
                            "orb": 3.1651465608341596,
                            "applying": true
                          },
                          {
                            "a": "Venus",
                            "b": "Pluto",
                            "type": "opposition",
                            "orb": 3.400111475816715,
                            "applying": false
                          },
                          {
                            "a": "Mars",
                            "b": "Jupiter",
                            "type": "square",
                            "orb": 4.837957892655027,
                            "applying": true
                          },
                          {
                            "a": "Venus",
                            "b": "Neptune",
                            "type": "trine",
                            "orb": 5.0855435139188785,
                            "applying": false
                          },
                          {
                            "a": "Venus",
                            "b": "Saturn",
                            "type": "trine",
                            "orb": 5.228774385547524,
                            "applying": true
                          },
                          {
                            "a": "Uranus",
                            "b": "Neptune",
                            "type": "conjunction",
                            "orb": 5.553201272470062,
                            "applying": false
                          },
                          {
                            "a": "Jupiter",
                            "b": "Uranus",
                            "type": "opposition",
                            "orb": 7.73087266636179,
                            "applying": false
                          }
                        ],
                        "flags": [],
                        "deltaT": {
                          "seconds": 57.19704162597656,
                          "sigma": 0.000846,
                          "model": "iers-utc/1",
                          "table": "2026-09-24",
                          "tableDigest": "064d98b4a531053a",
                          "segment": "observed"
                        },
                        "timeScale": {
                          "input": "utc",
                          "basis": "iers",
                          "ut1MinusUtc": {
                            "seconds": -0.013041666666662621,
                            "sigma": 0.000846,
                            "source": "observed"
                          },
                          "leapSeconds": {
                            "taiMinusUtc": 25,
                            "listed": true
                          }
                        }
                      },
                      "receipt": {
                        "conventions": {
                          "angles": "gast-and-true-obliquity",
                          "aspects": "major-aspects;sun-moon-eight-planets;no-nodes;applying-instantaneous-orb-rate",
                          "calendar": "proleptic-gregorian",
                          "deltaT": "tt-minus-ut1;value-in-result",
                          "localTime": "tzdb-shards-before-1970;host-intl-from-1970;flags-from-transition-record",
                          "longitudeUnit": "degrees-[0,360)",
                          "moonNodes": "instantaneous-geocentric-moon-orbit-plane",
                          "moonPosition": "astronomy-engine-geo-moon;no-light-time;no-aberration",
                          "nutation": "iau2000b;equation-of-equinoxes-with-two-complementary-terms",
                          "planetPositions": "aberrated-geocentric-ecliptic-of-date;no-deflection",
                          "speed": "degrees-per-day;central-difference-plus-minus-0.001-day;nodes-plus-minus-0.25-day",
                          "timeScale": "tt-from-leap-seconds-and-ut1-from-iers-1972-to-table-end;delta-t-model-otherwise;in-result",
                          "zodiac": "tropical"
                        },
                        "coordinates": {
                          "latitude": 48.8566,
                          "longitude": 2.3522
                        },
                        "coverage": {
                          "angleExclusions": "exact-geographic-poles-and-ecliptic-horizon-coincidence",
                          "assessment": "finite-reference-cases-only",
                          "broadDateRange": "not-certified",
                          "inputSyntax": "not-an-astronomical-accuracy-guarantee"
                        },
                        "engine": {
                          "ephemeris": {
                            "name": "astronomy-engine",
                            "version": "2.1.19"
                          },
                          "name": "@zodiacs/engine",
                          "version": "0.1.1-rc.17"
                        },
                        "houses": {
                          "absenceReason": null,
                          "actual": "whole",
                          "requested": "whole"
                        },
                        "inputFlags": [],
                        "instant": "1990-06-15T12:30:00.000Z",
                        "localResolution": {
                          "date": "1990-06-15",
                          "gapShiftMinutes": 0,
                          "offsetMinutes": 120,
                          "policy": {
                            "fold": "earlier",
                            "gap": "shift-forward"
                          },
                          "time": "14:30",
                          "timeZone": "Europe/Paris"
                        },
                        "provenance": {
                          "runtime": {
                            "name": "node",
                            "tzdbVersion": "2026c"
                          },
                          "status": "claimed"
                        },
                        "reference": "supplied-instant",
                        "resultFlags": [],
                        "schema": "zodiacs.calculation-receipt.draft-v1",
                        "sourceInstant": null,
                        "timeKnown": true,
                        "timeScale": "utc"
                      },
                      "backend": {
                        "name": "@zodiacs/engine",
                        "version": "0.1.1-rc.17",
                        "ephemeris": {
                          "name": "astronomy-engine",
                          "version": "2.1.19"
                        }
                      },
                      "cite": {
                        "url": "https://zodiacs.org/developers/compute/#chart",
                        "receipt": "sha256:110018792c6e08228160843813c791c499568c94cbe3950e8ea166de2fcd0905",
                        "engine": "@zodiacs/engine",
                        "version": "0.1.1-rc.17"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, or a field is missing, unknown or invalid.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid-request": {
                    "summary": "A latitude at a pole",
                    "value": {
                      "error": {
                        "code": "invalid-request",
                        "message": "Must be a number greater than -90 and less than 90; the engine does not compute angles at the poles.",
                        "pointer": "/latitude"
                      }
                    }
                  },
                  "invalid-json": {
                    "summary": "A body that is not JSON",
                    "value": {
                      "error": {
                        "code": "invalid-json",
                        "message": "The body is not valid JSON in UTF-8."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The request reached the compute function by a path that is not one of the seven endpoints. The seven paths never answer it.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not-found": {
                    "summary": "The function reached without an endpoint name",
                    "value": {
                      "error": {
                        "code": "not-found",
                        "message": "No compute endpoint is served at this address."
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Only POST, and OPTIONS for a CORS preflight.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Allow": {
                "required": true,
                "description": "The methods the endpoint takes.",
                "schema": {
                  "const": "POST, OPTIONS"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "method-not-allowed": {
                    "summary": "A GET",
                    "value": {
                      "error": {
                        "code": "method-not-allowed",
                        "message": "This endpoint accepts POST with a JSON body, and OPTIONS."
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The body is over 16384 bytes.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "payload-too-large": {
                    "summary": "A body declared larger than 16384 bytes",
                    "value": {
                      "error": {
                        "code": "payload-too-large",
                        "message": "The body is larger than 16384 bytes.",
                        "limit": "body.bytes",
                        "max": 16384
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The body is not sent as application/json.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupported-media-type": {
                    "summary": "A body sent as text/plain",
                    "value": {
                      "error": {
                        "code": "unsupported-media-type",
                        "message": "Send the body as application/json in UTF-8, without a content encoding."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Over a per-address rate limit; Retry-After gives the seconds to wait.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Retry-After": {
                "required": true,
                "description": "Seconds to wait before trying again: the length of the rate limit's window.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    60
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate-limited": {
                    "summary": "Over the per-address rate limit",
                    "value": {
                      "error": {
                        "code": "rate-limited",
                        "message": "Too many requests from this address. Try again after the interval in Retry-After.",
                        "retryAfterSeconds": 60
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The engine could not complete the calculation.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "calculation-failed": {
                    "summary": "The engine could not complete the calculation",
                    "value": {
                      "error": {
                        "code": "calculation-failed",
                        "message": "The engine could not complete this calculation."
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "The compute endpoints are switched off, or their rate limit is not in place or could not be checked: they answer only while it is. Retry-After gives the seconds to wait.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Retry-After": {
                "required": true,
                "description": "Seconds to wait before trying again: 300 when the rate limit could not be checked, 3600 when the API is switched off.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    300,
                    3600
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "disabled": {
                    "summary": "The switch is off",
                    "value": {
                      "error": {
                        "code": "disabled",
                        "message": "The compute API is switched off. Try again later.",
                        "retryAfterSeconds": 3600
                      }
                    }
                  },
                  "rate-limit-unavailable": {
                    "summary": "The rate limit is not in place, or could not be checked",
                    "value": {
                      "error": {
                        "code": "rate-limit-unavailable",
                        "message": "The compute API answers only while its rate limit is in place, and the limit could not be checked. Try again after the interval in Retry-After.",
                        "retryAfterSeconds": 300
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/positions": {
      "options": {
        "operationId": "preflightPositions",
        "summary": "CORS preflight",
        "description": "Answered before anything else is checked, with no body, so that a page on another site can POST to the endpoint.",
        "tags": [
          "compute"
        ],
        "responses": {
          "204": {
            "description": "The methods and headers a cross-origin POST may use.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "const": "POST, OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "const": "Content-Type"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "const": "86400"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "computePositions",
        "summary": "Positions and speeds of bodies at up to 100 instants",
        "description": "The rows the engine's positions() returns at each instant: tropical ecliptic longitude and latitude of date, speed in degrees per day, and the sign. Each instant carries the ΔT it was computed with. Documentation: https://zodiacs.org/developers/compute/#positions",
        "tags": [
          "compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionsRequest"
              },
              "examples": {
                "two": {
                  "summary": "Three bodies at two instants",
                  "value": {
                    "instants": [
                      "2026-09-29T12:00:00Z",
                      "2026-12-31T00:00:00-05:00"
                    ],
                    "bodies": [
                      "Sun",
                      "Moon",
                      "Mercury"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result, the receipt, the backend and what to cite.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                },
                "description": "No response is stored by a cache."
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsResponse"
                },
                "examples": {
                  "two": {
                    "summary": "Three bodies at two instants",
                    "value": {
                      "schema": "zodiacs.compute-api.positions.v1",
                      "result": {
                        "instants": [
                          {
                            "instant": "2026-09-29T12:00:00.000Z",
                            "bodies": [
                              {
                                "body": "Sun",
                                "lon": 186.3650989852253,
                                "lat": 0.000040745528335972984,
                                "speed": 0.981717214017408,
                                "retrograde": false,
                                "sign": "libra",
                                "degree": 6.365098985225359
                              },
                              {
                                "body": "Moon",
                                "lon": 42.542105382281534,
                                "lat": 4.950806474193532,
                                "speed": 14.176528919762177,
                                "retrograde": false,
                                "sign": "taurus",
                                "degree": 12.542105382281534
                              },
                              {
                                "body": "Mercury",
                                "lon": 208.66911994338005,
                                "lat": -1.5664060143340448,
                                "speed": 1.3549265762264895,
                                "retrograde": false,
                                "sign": "libra",
                                "degree": 28.66911994338011
                              }
                            ],
                            "deltaT": {
                              "seconds": 69.20533325195312,
                              "sigma": 0.0012697,
                              "model": "iers-utc/1",
                              "table": "2026-09-24",
                              "tableDigest": "064d98b4a531053a",
                              "segment": "predicted"
                            },
                            "timeScale": {
                              "input": "utc",
                              "basis": "iers",
                              "ut1MinusUtc": {
                                "seconds": -0.02133333333333809,
                                "sigma": 0.0012697,
                                "source": "predicted"
                              },
                              "leapSeconds": {
                                "taiMinusUtc": 37,
                                "listed": true
                              }
                            },
                            "flags": []
                          },
                          {
                            "instant": "2026-12-31T05:00:00.000Z",
                            "bodies": [
                              {
                                "body": "Sun",
                                "lon": 279.513447355753,
                                "lat": 0.00005713042741092159,
                                "speed": 1.0191402134296368,
                                "retrograde": false,
                                "sign": "capricorn",
                                "degree": 9.513447355752987
                              },
                              {
                                "body": "Moon",
                                "lon": 194.49969423093685,
                                "lat": -4.135221345445718,
                                "speed": 12.904043076190419,
                                "retrograde": false,
                                "sign": "libra",
                                "degree": 14.499694230936825
                              },
                              {
                                "body": "Mercury",
                                "lon": 278.6336322079457,
                                "lat": -1.6656442594625183,
                                "speed": 1.5992637505064522,
                                "retrograde": false,
                                "sign": "capricorn",
                                "degree": 8.633632207945766
                              }
                            ],
                            "deltaT": {
                              "seconds": 69.30520825195312,
                              "sigma": 0.009847975000000002,
                              "model": "iers-utc/1",
                              "table": "2026-09-24",
                              "tableDigest": "064d98b4a531053a",
                              "segment": "predicted"
                            },
                            "timeScale": {
                              "input": "utc",
                              "basis": "iers",
                              "ut1MinusUtc": {
                                "seconds": -0.12120833333332826,
                                "sigma": 0.009847975000000002,
                                "source": "predicted"
                              },
                              "leapSeconds": {
                                "taiMinusUtc": 37,
                                "listed": true
                              }
                            },
                            "flags": []
                          }
                        ]
                      },
                      "receipt": {
                        "schema": "zodiacs.compute-receipt.v1",
                        "endpoint": "positions",
                        "engine": {
                          "name": "@zodiacs/engine",
                          "version": "0.1.1-rc.17",
                          "ephemeris": {
                            "name": "astronomy-engine",
                            "version": "2.1.19"
                          }
                        },
                        "conventions": {
                          "angles": "gast-and-true-obliquity",
                          "aspects": "major-aspects;sun-moon-eight-planets;no-nodes;applying-instantaneous-orb-rate",
                          "calendar": "proleptic-gregorian",
                          "deltaT": "tt-minus-ut1;value-in-result",
                          "localTime": "tzdb-shards-before-1970;host-intl-from-1970;flags-from-transition-record",
                          "longitudeUnit": "degrees-[0,360)",
                          "moonNodes": "instantaneous-geocentric-moon-orbit-plane",
                          "moonPosition": "astronomy-engine-geo-moon;no-light-time;no-aberration",
                          "nutation": "iau2000b;equation-of-equinoxes-with-two-complementary-terms",
                          "planetPositions": "aberrated-geocentric-ecliptic-of-date;no-deflection",
                          "speed": "degrees-per-day;central-difference-plus-minus-0.001-day;nodes-plus-minus-0.25-day",
                          "timeScale": "tt-from-leap-seconds-and-ut1-from-iers-1972-to-table-end;delta-t-model-otherwise;in-result",
                          "zodiac": "tropical"
                        },
                        "coverage": {
                          "angleExclusions": "exact-geographic-poles-and-ecliptic-horizon-coincidence",
                          "assessment": "finite-reference-cases-only",
                          "broadDateRange": "not-certified",
                          "inputSyntax": "not-an-astronomical-accuracy-guarantee"
                        },
                        "referenceSpan": {
                          "from": "1800-01-01T00:00:00.000Z",
                          "to": "2200-01-01T00:00:00.000Z"
                        },
                        "deltaT": [
                          {
                            "model": "iers-utc/1",
                            "table": "2026-09-24",
                            "tableDigest": "064d98b4a531053a"
                          },
                          {
                            "model": "zodiacs-deltat/1",
                            "table": "2026-09-24",
                            "tableDigest": "6371988c510a1c6c"
                          }
                        ]
                      },
                      "backend": {
                        "name": "@zodiacs/engine",
                        "version": "0.1.1-rc.17",
                        "ephemeris": {
                          "name": "astronomy-engine",
                          "version": "2.1.19"
                        }
                      },
                      "cite": {
                        "url": "https://zodiacs.org/developers/compute/#positions",
                        "receipt": "sha256:166b22120fffe135225114f2274f56b0e39f7883c59a7ac4b294e1b3b62cb7de",
                        "engine": "@zodiacs/engine",
                        "version": "0.1.1-rc.17"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, or a field is missing, unknown or invalid.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid-request": {
                    "summary": "A latitude at a pole",
                    "value": {
                      "error": {
                        "code": "invalid-request",
                        "message": "Must be a number greater than -90 and less than 90; the engine does not compute angles at the poles.",
                        "pointer": "/latitude"
                      }
                    }
                  },
                  "invalid-json": {
                    "summary": "A body that is not JSON",
                    "value": {
                      "error": {
                        "code": "invalid-json",
                        "message": "The body is not valid JSON in UTF-8."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The request reached the compute function by a path that is not one of the seven endpoints. The seven paths never answer it.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not-found": {
                    "summary": "The function reached without an endpoint name",
                    "value": {
                      "error": {
                        "code": "not-found",
                        "message": "No compute endpoint is served at this address."
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Only POST, and OPTIONS for a CORS preflight.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Allow": {
                "required": true,
                "description": "The methods the endpoint takes.",
                "schema": {
                  "const": "POST, OPTIONS"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "method-not-allowed": {
                    "summary": "A GET",
                    "value": {
                      "error": {
                        "code": "method-not-allowed",
                        "message": "This endpoint accepts POST with a JSON body, and OPTIONS."
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The body is over 16384 bytes.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "payload-too-large": {
                    "summary": "A body declared larger than 16384 bytes",
                    "value": {
                      "error": {
                        "code": "payload-too-large",
                        "message": "The body is larger than 16384 bytes.",
                        "limit": "body.bytes",
                        "max": 16384
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The body is not sent as application/json.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupported-media-type": {
                    "summary": "A body sent as text/plain",
                    "value": {
                      "error": {
                        "code": "unsupported-media-type",
                        "message": "Send the body as application/json in UTF-8, without a content encoding."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The request is over one of the endpoint's compute budgets, which the error names.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "budget-exhausted": {
                    "summary": "An events window longer than 92 days",
                    "value": {
                      "error": {
                        "code": "budget-exhausted",
                        "message": "An events window is at most 92 days long.",
                        "limit": "events.windowDays",
                        "max": 92
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Over a per-address rate limit; Retry-After gives the seconds to wait.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Retry-After": {
                "required": true,
                "description": "Seconds to wait before trying again: the length of the rate limit's window.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    60
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate-limited": {
                    "summary": "Over the per-address rate limit",
                    "value": {
                      "error": {
                        "code": "rate-limited",
                        "message": "Too many requests from this address. Try again after the interval in Retry-After.",
                        "retryAfterSeconds": 60
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The engine could not complete the calculation.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "calculation-failed": {
                    "summary": "The engine could not complete the calculation",
                    "value": {
                      "error": {
                        "code": "calculation-failed",
                        "message": "The engine could not complete this calculation."
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "The compute endpoints are switched off, or their rate limit is not in place or could not be checked: they answer only while it is. Retry-After gives the seconds to wait.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Retry-After": {
                "required": true,
                "description": "Seconds to wait before trying again: 300 when the rate limit could not be checked, 3600 when the API is switched off.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    300,
                    3600
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "disabled": {
                    "summary": "The switch is off",
                    "value": {
                      "error": {
                        "code": "disabled",
                        "message": "The compute API is switched off. Try again later.",
                        "retryAfterSeconds": 3600
                      }
                    }
                  },
                  "rate-limit-unavailable": {
                    "summary": "The rate limit is not in place, or could not be checked",
                    "value": {
                      "error": {
                        "code": "rate-limit-unavailable",
                        "message": "The compute API answers only while its rate limit is in place, and the limit could not be checked. Try again after the interval in Retry-After.",
                        "retryAfterSeconds": 300
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/houses": {
      "options": {
        "operationId": "preflightHouses",
        "summary": "CORS preflight",
        "description": "Answered before anything else is checked, with no body, so that a page on another site can POST to the endpoint.",
        "tags": [
          "compute"
        ],
        "responses": {
          "204": {
            "description": "The methods and headers a cross-origin POST may use.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "const": "POST, OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "const": "Content-Type"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "const": "86400"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "computeHouses",
        "summary": "Angles and house cusps for an instant, a place and a system",
        "description": "The angles and the twelve cusps of natalChart for one instant, place and house system. Inside the polar circle Placidus and Koch fall back to whole sign, and the flags and the receipt say so. Documentation: https://zodiacs.org/developers/compute/#houses",
        "tags": [
          "compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceInstantRequest"
              },
              "examples": {
                "koch": {
                  "summary": "Koch cusps at Sydney",
                  "value": {
                    "utc": "2026-06-21T12:00:00Z",
                    "latitude": -33.8688,
                    "longitude": 151.2093,
                    "houseSystem": "koch"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result, the receipt, the backend and what to cite.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                },
                "description": "No response is stored by a cache."
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousesResponse"
                },
                "examples": {
                  "koch": {
                    "summary": "Koch cusps at Sydney",
                    "value": {
                      "schema": "zodiacs.compute-api.houses.v1",
                      "result": {
                        "instant": "2026-06-21T12:00:00.000Z",
                        "local": null,
                        "angles": {
                          "asc": 335.5388722769363,
                          "mc": 242.95820528978106,
                          "dsc": 155.53887227693622,
                          "ic": 62.95820528978106
                        },
                        "houses": {
                          "system": "koch",
                          "cusps": [
                            335.5388722769362,
                            4.913502731650965,
                            34.14218077714588,
                            62.95820528978106,
                            97.20367206467239,
                            126.66880166130079,
                            155.53887227693622,
                            184.91350273165096,
                            214.14218077714588,
                            242.95820528978106,
                            277.20367206467245,
                            306.6688016613008
                          ]
                        },
                        "flags": [],
                        "deltaT": {
                          "seconds": 69.1725,
                          "sigma": 0.000817,
                          "model": "iers-utc/1",
                          "table": "2026-09-24",
                          "tableDigest": "064d98b4a531053a",
                          "segment": "observed"
                        },
                        "timeScale": {
                          "input": "utc",
                          "basis": "iers",
                          "ut1MinusUtc": {
                            "seconds": 0.011499999999998067,
                            "sigma": 0.000817,
                            "source": "observed"
                          },
                          "leapSeconds": {
                            "taiMinusUtc": 37,
                            "listed": true
                          }
                        }
                      },
                      "receipt": {
                        "conventions": {
                          "angles": "gast-and-true-obliquity",
                          "aspects": "major-aspects;sun-moon-eight-planets;no-nodes;applying-instantaneous-orb-rate",
                          "calendar": "proleptic-gregorian",
                          "deltaT": "tt-minus-ut1;value-in-result",
                          "localTime": "tzdb-shards-before-1970;host-intl-from-1970;flags-from-transition-record",
                          "longitudeUnit": "degrees-[0,360)",
                          "moonNodes": "instantaneous-geocentric-moon-orbit-plane",
                          "moonPosition": "astronomy-engine-geo-moon;no-light-time;no-aberration",
                          "nutation": "iau2000b;equation-of-equinoxes-with-two-complementary-terms",
                          "planetPositions": "aberrated-geocentric-ecliptic-of-date;no-deflection",
                          "speed": "degrees-per-day;central-difference-plus-minus-0.001-day;nodes-plus-minus-0.25-day",
                          "timeScale": "tt-from-leap-seconds-and-ut1-from-iers-1972-to-table-end;delta-t-model-otherwise;in-result",
                          "zodiac": "tropical"
                        },
                        "coordinates": {
                          "latitude": -33.8688,
                          "longitude": 151.2093
                        },
                        "coverage": {
                          "angleExclusions": "exact-geographic-poles-and-ecliptic-horizon-coincidence",
                          "assessment": "finite-reference-cases-only",
                          "broadDateRange": "not-certified",
                          "inputSyntax": "not-an-astronomical-accuracy-guarantee"
                        },
                        "engine": {
                          "ephemeris": {
                            "name": "astronomy-engine",
                            "version": "2.1.19"
                          },
                          "name": "@zodiacs/engine",
                          "version": "0.1.1-rc.17"
                        },
                        "houses": {
                          "absenceReason": null,
                          "actual": "koch",
                          "requested": "koch"
                        },
                        "inputFlags": [],
                        "instant": "2026-06-21T12:00:00.000Z",
                        "localResolution": null,
                        "provenance": null,
                        "reference": "supplied-instant",
                        "resultFlags": [],
                        "schema": "zodiacs.calculation-receipt.draft-v1",
                        "sourceInstant": "2026-06-21T12:00:00Z",
                        "timeKnown": true,
                        "timeScale": "utc"
                      },
                      "backend": {
                        "name": "@zodiacs/engine",
                        "version": "0.1.1-rc.17",
                        "ephemeris": {
                          "name": "astronomy-engine",
                          "version": "2.1.19"
                        }
                      },
                      "cite": {
                        "url": "https://zodiacs.org/developers/compute/#houses",
                        "receipt": "sha256:833554492d71a5d51f0f3ebdd083e4863d8cba1a9b610f88b6d1a8427b597796",
                        "engine": "@zodiacs/engine",
                        "version": "0.1.1-rc.17"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, or a field is missing, unknown or invalid.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid-request": {
                    "summary": "A latitude at a pole",
                    "value": {
                      "error": {
                        "code": "invalid-request",
                        "message": "Must be a number greater than -90 and less than 90; the engine does not compute angles at the poles.",
                        "pointer": "/latitude"
                      }
                    }
                  },
                  "invalid-json": {
                    "summary": "A body that is not JSON",
                    "value": {
                      "error": {
                        "code": "invalid-json",
                        "message": "The body is not valid JSON in UTF-8."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The request reached the compute function by a path that is not one of the seven endpoints. The seven paths never answer it.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not-found": {
                    "summary": "The function reached without an endpoint name",
                    "value": {
                      "error": {
                        "code": "not-found",
                        "message": "No compute endpoint is served at this address."
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Only POST, and OPTIONS for a CORS preflight.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "const": "*"
                }
              },
              "Allow": {
                "required": true,
                "description": "The methods the endpoint takes.",
                "schema": {
                  "const": "POST, OPTIONS"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "method-not-allowed": {
                    "summary": "A GET",
                    "value": {
                      "error": {
                        "code": "method-not-allowed",
                        "message": "This endpoint accepts POST with a JSON body, and OPTIONS."
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The body is over 16384 bytes.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
[...]
